.movieGenre-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
  padding: 0 2rem;
}

.css-1k23hlb-MuiButtonBase-root-MuiButton-root {
  border-color: #c9c4b3 !important;
  color: #c9c4b3 !important;
}

.mobile-container {
  position: absolute;
  top: 11%;
  left: 80%;

  button {
    border: none;
  }
}
