.MuiPaper-root {
  width: 220px !important;
  height: 420px !important;
  background-color: #02041c !important;
  color: #bb9c21 !important;
  border-radius: 9px !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-container {
  // margin-bottom: 50px;
  text-align: center;
  height: fit-content;

  h2 {
    letter-spacing: 2px;
    font-weight: 300;
    color: #c9c4b3;
  }

  .movie-box {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50;
    justify-content: center;
  }
}

.header-content {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  gap: "10%";
  margin-bottom: "15px";
}


.react-datepicker-wrapper{
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}