.header-container {
  height: 50px;
  border-bottom: 1px solid #bb9c21;
  font-family: "Besley";
  font-size: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;

  .lottie {
    background-color: #bb9c21;
    width: 60px;
    border-radius: 4px;
    height: 50px;
  }
  p {
    margin: 0;
    color: #d1b74a;
  }
}

@media only screen and (max-width: 450px) {
  p {
    font-size: 14px;
    text-align: center;
  }
  .lottie {
    width: 42px !important;
    height: 38px !important;
  }
}
