.footer-container {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin: 50px 0px 0px;

  background-color: #02041c;
  padding: 12px;

  .footer-icon {
    width: 50px;
    cursor: pointer;
  }
}


a:link {
  color: #c9c4b3;
}

/* visited link */
a:visited {
  color: #c9c4b3;
}

/* mouse over link */
a:hover {
  color: #c9c4b3;
}

/* selected link */
a:active {
  color: #c9c4b3;
}
